.aboutUs {
  background-color: #fcfaef;
  margin-inline: -20px;
  margin-bottom: 0;
  
  @media (min-width: 576px) {
    margin-inline: -72px;
  }

  @media (min-width: 1024px) {
    margin-inline: -120px;
  }

  .aboutUs__photo {
    display: block;
    background-image: url(../images/photo-aboutUs.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;

    @media (min-width: 576px) {
      background-image: url(../images/photo-AboutUs-tablet.png);
      width: 100%;
      height: 400px;
      background-size: cover;
      background-position: center;
    }

    @media (min-width: 576px) {
      background-image: url(../images/photo-aboutUs-dekstop.png);
      width: 100%;
      height: 460px;
      background-size: cover;
      background-position: center;
    }
  }

  .aboutUs__container {
    display: grid;
    grid-column: 1 / -1;
    gap: 24px;
    margin-inline: auto;
    max-width: 1020px;
    padding-inline: 20px;

    @media (min-width: 576px) {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
      padding-inline: 72px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
      padding-inline: 120px;
    }

    .aboutUs__title {
      padding-block-start: 48px;

      @media (min-width: 576px) {
        grid-column: 1 / 4;
        padding-block: 120px 176px;
      }

      @media (min-width: 1024px) {
        grid-column: 1 / 7;
        padding-block: 120px 134px;
      }

      .section-title--aboutUs {
        margin: 0;
        font-family: Manrope, sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;

        @media (min-width: 576px) {
          font-weight: 700;
          font-size: 40px;
          line-height: 100%;
        }

        @media (min-width: 1024px) {
          font-weight: 700;
          font-size: 48px;
          line-height: 48px;
        }
      }
    }
    .aboutUs__change--text {
      padding-block-end: 48px;

      @media (min-width: 576px) {
        grid-column: 4 / 7;
        padding-block: 120px;
      }

      @media (min-width: 1024px) {
        grid-column: 8 / 13;
        padding-block: 120px;
      }

      .aboutUs__text--buttom {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.15px;
        margin: 0;
      }
    }
  }
}
