.categories {
  margin-bottom: 0;
  max-width: 1020px;
  margin-inline: auto;

  .category__product {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-block: 0 0 0 40px;
    justify-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    @media (min-width: 576px) {
      margin-bottom: 56px;
    }
  }

  .product__wrapper {
    display: flex;
    gap: 24px;
  }

  .product__photo--category {
    display: block;
    margin: 0;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    border-radius: 4px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.71);
    }

    @media (min-width: 576px) {
      width: 100%;
      height: 184px;
      opacity: 1;
    }

    @media (min-width: 1024px) {
      width: 100%;
      height: 324px;
    }
  }

  .product__title-category {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    padding-top: 16px;

    @media (min-width: 576px) {
      font-size: 24px;
    }
  }

  .button__category {
    display: flex;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    padding-block: 14.5px;

    border: 1px solid #f98921;
    background-color: #f98921;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    cursor: pointer;

    &:active {
      border: 1px solid #010810;
      background-color: #010810;
    }

    &:hover {
      border: 1px solid #1b2129;
      background-color: #1b2129;
    }

    @media (min-width: 576px) {
      width: 600px;
      height: 56px;
    }

    @media (min-width: 1024px) {
      width: 324px;
      height: 56px;
    }
  }
}
