.contacts {
  margin-bottom: 0;
  max-width: 1020px;
  margin-inline: auto;
  width: 100%;

  .contacts__grid {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }

    .contacts__form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media (min-width: 1024px) {
        grid-column: 1 / 7;
      }

      .contacts__input {
        padding-inline-start: 16px;
        box-sizing: border-box;
        background-color: #f9f9f9;
        color: #7e7e83;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: 1px solid #f9f9f9;
        grid-column: span 6;
      }

      .contacts__textarea {
        padding-block: 14px;
        padding-inline: 16px;
        box-sizing: border-box;
        background-color: #f9f9f9;
        color: #7e7e83;
        width: 100%;
        height: 120px;
        border-radius: 8px;
        border: 1px solid #f9f9f9;
        resize: none;
        grid-column: span 6;
      }

      .contacts__text::placeholder {
        color: #7e7e83;
        font-family: Manrope, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.15px;
        opacity: 1;
      }

      .contacts__input:focus,
      .contacts__textarea:focus {
        color: #1b2129;
      }

      .contacts__input:active,
      .contacts__textarea:active {
        border: 2px solid #f98921;
      }

      .contacts__input:hover,
      .contacts__textarea:hover {
        border: 1px solid #dbdbdb;
      }
    }

    .button__contact {
      margin-block: 32px 48px;

      @media (min-width: 576px) {
        margin-block-end: 80px;
      }

      @media (min-width: 1024px) {
        grid-column: 1 / 7;
        margin-block-end: 120px;
      }

      .contacts__button {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-block: 14.5px;
        font-family: Manrope, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        margin: 0;
        color: #fff;

        background-color: #F98921;
        border: 1px solid #F98921;
        width: 100%;
        height: 56px;
        border-radius: 8px;
        cursor: pointer;

        &:active {
          border: 1px solid #010810;
          background-color: #010810;
        }

        &:hover {
          border: 1px solid #1b2129;
          background-color: #1b2129;
        }
      }
    }

    .contscts__grid--aside {
      grid-column: 8 / -1;

      .contacts__phone {
        color: #191919;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.15px;
        text-decoration: none;

        @media (min-width: 1024px) {
          grid-column: 8 / 13;
        }

        .contacts__title {
          color: #9393a3;
          margin: 0;
          padding-block-end: 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.15px;
        }
      }

      .contacts__email--buttom {
        margin-block-start: 24px;

        @media (min-width: 1024px) {
          grid-column: 8 / 13;
        }

        .contacts__title {
          color: #9393a3;
          margin: 0;
          padding-block-end: 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.15px;
        }

        .contacts__email--mailto {
          color: #191919;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0.15px;
          text-decoration: none;
        }
      }

      .contacts__address {
        margin-block: 24px 64px;

        @media (min-width: 576px) {
          margin-block-end: 120px;
        }

        @media (min-width: 1024px) {
          grid-column: 8 / 13;
        }

        .contacts__title {
          color: #9393a3;
          margin: 0;
          padding-block-end: 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.15px;
        }

        .contacts__address--text {
          color: #191919;
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0.15px;
          cursor: pointer;
        }
      }
    }
  }
}
