.icon {
  display: block;
  height: 24px;
  width: 24px;

  @include hover(transform, scale(1.2));

  @media (min-width: 576px) {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-min-width) {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url(../images/Phone-number.svg);
  }

  &--menu {
    background-image: url(../images/Icon-Burger-menu.png);

    &:hover {
      background-image: url(../images/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/Icon-Close.png);
  }

  @media (min-width: 576px) {
    .icon {
      justify-content: space-between;
    }
    &--close {
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-min-width) {
    .icon {
      justify-content: space-between;
    }

    &--close {
      justify-content: space-between;
    }
  }
}
