.main {
  background-color: #fff;

  &__content {
    display: grid;
    padding-inline: 20px;

    .contacts {
      margin-block-start: 64px;

      @media (min-width: 576px) {
        margin-block-start: 120px;
      }
    }

    .aboutUs {
      margin-block-start: 96px;

      @media (min-width: 1024px) {
        row-gap: 120px;
      }
    }

    .recommended {
      margin-block-start: 64px;

      @media (min-width: 576px) {
        margin-block-start: 120px;
      }
    }

    .categories {
      margin-block-start: 96px;

      @media (min-width: 576px) {
        margin-block-start: 120px;
      }
    }

    @media (min-width: 576px) {
      padding-inline: 72px;
    }

    @media (min-width: 1024px) {
      padding-inline: 120px;
    }

    .product__price {
      padding-top: 12px;

      @media (min-width: 576px) {
        padding-top: 12px;
      }
    }

    .section-title {
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      padding-bottom: 48px;

      @media (min-width: 576px) {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 56px;
      }

      @include on-desktop {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}
