.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;

  &__container {
    padding-block: 28px;
    padding-inline: 20px;

    @media (min-width: 576px) {
      padding-block: 36px;
      padding-inline: 72px;
    }

    @media (min-width: 1024px) {
      padding-block: 36px;
      padding-inline: 120px;
    }
  }

  &__content {
    margin-top: 60px;

    @media (min-width: 576px) {
      margin-top: 92px;
    }

    @media (min-width: 1024px) {
      margin-top: 92px;
    }
  }

  &__top {
    @include on-tablet {
      margin-bottom: 0;
    }

    @include on-desktop {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    font-family: Manrope, sans-serif;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-text-color;

    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
  }
}
