.product {
  margin: 0;
  transition: transform 0.3s ease;

  &:hover {
    transform:scale(1.03);
  }

  &__photo {
    width: 100%;
    background-position: center;
    border-radius: 4px;
    margin: 0;
  }

  .product__title {
    padding-top: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0;
  }

  .product__category {
    padding-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin: 0;
  }

  .product__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
  }
}
